<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights schemaVersion="2014-05-30" xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'NotificationHubsSample.WebApi (v2)' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>d4e4c95a-fa7a-421a-8358-9e70fd0cd0af</InstrumentationKey>
</ApplicationInsights>